.board-container {
  height: 100vh;
  padding: 2.5rem 2rem;
  background: #1a1a2a;
}

.list-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: .5rem;
  color: #ffffff;
}

.ant-card-head {
  color: #ffffff;
}

.ant-card-body {
  padding: 1.5rem 0;
  color: #ffffff;
}
